body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 0 256px;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    list-style-type: none;
    gap: 64px;
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

a:visited {
    color: #E5E7EB; /* prevent color change */
}

.intro {
    background-color: #1F2937;
    padding: 32px 256px 64px 256px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin-top: 0;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 32px;
}

.intro-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 16px;
    width: 512px;
}

.sign-up {
    background-color: #3882F6;
    font-size: 20px;
    border-radius: 12px;
    color: #F9FAF8;
    border: none;
    padding: 8px 16px;
}

.ellie {
    width: 360px;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 32px 64px;
    gap: 32px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.treats {
    display: flex;
    gap: 32px;
}

.treats img {
    width: 240px;
    height: 180px;
    flex: 0 0 auto;
    border-radius: 64px;;
}

.treat-div {
    font-size: 18px;
    width: 300px;
    text-align: center;
}

.mid-content {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* visibility: hidden; */
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.author {
    font-size: 22px;
    font-weight: 900;
}

.entire-quote {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-end;
    width: 800px;
    gap: 8px;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}